.nav {
  color: rgb(13, 13, 75);
  padding: 10px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: rgb(0, 4, 8);
}
.link:hover {
  border-bottom: 1px solid red;
}

#navbarScroll {
  margin-left: 22%;
}

.logo {
  color: red;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 60px;
}

.contener {
  background-color: rgb(4, 3, 59);
  background-image: url("logo512.png");
  background-repeat: no-repeat;
  background-position-x: 900px;
  background-position-y: 80px;
  background-size: 250px;
}
.text {
  padding: 10px;
  padding-left: 80px;
  color: white;
}
.texts {
  color: blue;
}
span {
  color: rgb(8, 175, 36);
}

.card {
  max-width: 320px;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(
    to bottom right,
    rgb(118, 36, 194),
    rgb(185, 128, 240)
  );
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}

body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: #f5f7fa;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  .footer {
    z-index: 1;
    --footer-background: #ed5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    .bubbles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1rem;
      background: var(--footer-background);
      filter: url("#blob");
      .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
          bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
    }
    .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 4rem;
      padding: 2rem;
      background: var(--footer-background);
      a,
      p {
        color: #f5f7fa;
        text-decoration: none;
      }
      b {
        color: white;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > div {
          margin: 0.25rem 0;
          > * {
            margin-right: 0.5rem;
          }
        }
        .image {
          align-self: center;
          width: 4rem;
          height: 4rem;
          margin: 0.25rem 0;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

.root {
  --red: rgb(5, 4, 59);
}
.home {
  width: 100%;
  height: auto;
  background-color: rgb(5, 4, 59);
  color: rgb(1, 1, 19);
  display: flex;
}
.text {
  padding-top: 150px;
  margin-right: 50px;
  margin-right: 200px;
  margin-bottom: 10px;
}
.text h1 {
  color: #ed5565;
}
.text a {
  background-color: #ed5565;
  padding: 13px;
  color: white;
  text-decoration: none;
  margin-top: 50px;
}
.text h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
}
.images {
  padding: 80px 150px;
}
.images img {
  padding-top: 25px;
  height: 450px;
  
}

@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
    height: auto;
    background-color: rgb(5, 4, 59);
    color: rgb(1, 1, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    padding-top: 50px; /* Adjusted padding for responsiveness */
  margin-right: 50px;
  }

  .text h1 {
    color: #ed5565;
  }

  .text a {
    background-color: #ed5565;
    padding: 13px;
    color: white;
    text-decoration: none;
    margin-top: 20px; /* Adjusted margin for responsiveness */
  }

  .text h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 35px;
  }

  .images {
    padding: 40px 20px; /* Adjusted padding for responsiveness */
  }

  .images img {
    display: none;
  }

  .text {
    padding-top: 30px; /* Adjusted padding for responsiveness */
  }

  .images {
    padding: 20px 10px; /* Adjusted padding for responsiveness */
  }

  .images img {
    padding-top: 10px; /* Adjusted padding for responsiveness */
  }

  .text a {
    margin-top: 10px; /* Adjusted margin for responsiveness */
  }

  @media only screen and (max-width: 480px) {
    .text {
      padding-top: 20px; /* Adjusted padding for responsiveness */
    }

    .images {
      padding: 10px; /* Adjusted padding for responsiveness */
    }

    .images img {
      padding-top: 5px; /* Adjusted padding for responsiveness */
    }

    .text a {
      margin-top: 5px; /* Adjusted margin for responsiveness */
    }
  }
}

/* profile */

.proflir {
  width: 100%;
  height: auto;
  background-color: rgb(5, 4, 59);
  color: rgb(1, 1, 19);
  display: flex;
  padding-left: 310px;
}
.texts {
  padding: 120px;
}
.texts h1,
p {
  color: white;
  padding-bottom: 15px;
}
.p_img img {
  padding-top: 25px;
  height: 450px;
}
.texts a {
  background-color: #ed5565;
  padding: 13px;
  color: white;
  text-decoration: none;
  margin-top: 50px;
}

/* .proflir Section */

.texts {
  padding: 40px; /* Adjusted padding for responsiveness */
}

.texts h1,
.texts p {
  color: white;
  padding-bottom: 15px;
}

.p_img img {
  padding-top: 25px;
  height: auto;
  max-width: 100%; /* Ensure image is responsive */
}

.texts a {
  background-color: #ed5565;
  padding: 13px;
  color: white;
  text-decoration: none;
  margin-top: 20px; /* Adjusted margin for responsiveness */
}

/* .AGENTS Section */
.AGENTS {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .proflir {
    width: 100%;
    height: auto;
    background-color: rgb(5, 4, 59);
    color: rgb(1, 1, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px; /* Adjusted padding for responsiveness */
  }
  .p_img img {
    padding-top: 25px;
    height: 450px;
  }
  .texts {
    padding: 40px;
    width: auto; /* Adjusted padding for responsiveness */
  }
}

/* end prfoile */
.AGENTS {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}
.h11 {
  color: #ed5565;
  display: flex;
  text-align: center;
  justify-content: center;
}
.CARD {
  margin: 50px;
}
.P1 {
  text-align: center;
  letter-spacing: 4px;
}
.CARD img {
  height: 300px;
  width: 250px;
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.contenerss {
  background-color: rgb(5, 4, 59);

  width: auto;
  padding-bottom: 90px;
}
.CARD h4 {
  color: #ed5565;
}
.Playandengoy {
  padding-top: 27px;
  text-align: center;
  width: 69%;
  height: 180px;
  margin-left: 16%;
  background-color: rgb(198, 198, 212);
  border-radius: 25px;
}
.P1S {
  color: black;
  letter-spacing: 8px;
}
.Playandengoy h1 {
  color: black;
}
.Playandengoy a {
  background-color: #ed5565;
  padding: 13px;
  color: white;
  text-decoration: none;
}
.dddd {
  background-color: rgb(4, 3, 59);
}
.footer {
  background-color: rgb(4, 3, 59);
  color: white;
  display: flex;
}
.footer {
  background-color: rgb(4, 3, 59);
  color: white;
  display: flex;
}

.ft_ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
}

.ft_ul ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.ft_ul ul a {
  text-decoration: none;
}

.ft_ul ul li {
  margin: 0 5px;
}

.CARD :hover {
  background-color: rgb(9, 38, 90);
}

/* footer */
.site-footer {
  padding-top: 90px;
  background-color: rgb(5, 4, 59);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  padding-left: 179px;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: white;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #cc3333;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/* endfooter */
